@{
    ViewData["Title"] = "Range Page";
}


<div class="container-fluid mt-3">
    <h2> OUR BITES RANGE </h2>
    <p>Our Leader Bites are available through Pak N Save, New World and Four Square, Countdown, Super Value and Fresh Choice.</p><span class="border"></span>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-xl text-black-50" boder="0">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">Cheese Bites</h4>
                        <p class="card-text">Our most populer product and also the gold reqard winner last year </p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/1.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
           
            <div class="col-xl text-black-50" boder="0">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">Chicken Bites</h4>
                        <p class="card-text">One of our top saled product and had 20 years good reputation for the unic flavor</p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/2.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
            <div class="col-xl text-black-50" boder="0">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">Broccoli bites</h4>
                        <p class="card-text">Our vega treat for the vegantaran, it is all for you consideration and made by real fresh ingradience </p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/3.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2> OUR PATTIES RANGE </h2>
    <p>Our patties are available through Pak N Save, New World and Four Square, Countdown, Super Value and Fresh Choice.</p><span class="border"></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl text-dark-50">
                <div class="card" style="width:600px">
                    <div class="card-body">
                        <h4 class="card-title"> Quarter Pounder</h4>
                        <p class="card-text">Our most populer product and also the gold reqard winner last year</p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/4.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
            <div class="col-xl  text-black-50">
                <div class="card" style="width:600px">
                    <div class="card-body">
                        <h4 class="card-title">Southern Style Chicken Pattie</h4>
                        <p class="card-text">One of our top saled product and had 20 years good reputation </p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/6.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2> OUR TOPPAS RANGE </h2>
    <p>Our toppas are available through Pak N Save, New World and Four Square, Countdown, Super Value and Fresh Choice.</p><span class="border"></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl text-black-50">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title"> Lasagne Toppa</h4>
                        <p class="card-text">Our most populer product</p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/12.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
            <div class="col-xl  text-black-50">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">Chicken Cordon Bleu</h4>
                        <p class="card-text">One of our top saled product </p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/11.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
            <div class="col-xl text-black-50">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">Bacon & Cheese Toppa</h4>
                        <p class="card-text"> You wont stop to eat it</p>
                        <a href="#" class="btn btn-outline-danger">Price:$5.00</a>
                    </div>
                    <img class="card-img-top" src="~/Images/10.jpg" alt="Card image" style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
