@{
    ViewData["Title"] = "Service Page";
}
<div class="container my-5">
    <div class="card bg-light border-secondary text-center">
        <div class="card-body">
            <h2 class="card-title">TRY OUR SERVICES</h2>
            <p class="card-text">
                Welcome to FlavorFrenzy and our Toppas, Bites and Patties restaurant! Our menu offers a wide range of flavorful options to satisfy any craving, from classic burgers and sandwiches to more unique and adventurous options. We use only the freshest and highest-quality ingredients to ensure that every dish is as delicious as possible.                             

                At FlavorFrenzy, we understand that everyone has different dietary needs and preferences. That's why we offer vegetarian and gluten-free options, as well as a variety of sides and drinks to complement your meal.
              
                Our Toppas, Bites and Patties restaurant also offers a comfortable and welcoming atmosphere, with friendly staff and a convenient location. Whether you're dining in or taking out, we strive to make every visit a memorable one.
                             
                Thank you for choosing FlavorFrenzy and our Toppas, Bites and Patties restaurant. We look forward to serving you and making your dining experience a truly delicious one!

            </p>
        </div>
    </div>
</div>
<div class="container my-5">
    <h1 class="text-center mb-5">TOPPAS</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/Images/7.jpg" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Image 1</h5>                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Images/9.jpg" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Image 2</h5>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Images/8.jpg" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">Image 3</h5>
                    
            </div>
        </div>
    </div>
</div>
</div>
<div class="container my-5">
    <h1 class="text-center mb-5">Bites</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="~/Images/1.jpg" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Image 1</h5>                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Images/2.jpg" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Image 2</h5>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/Images/3.jpg" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">Image 3</h5>
               
                </div>
            </div>
        </div>
    </div>
</div>